# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# WandB
# ===============================
wandb/
wandb/*

# ===============================
# Checkpoints & models
# ===============================
checkpoints/
bptt_checkpoints/
workingpolicies/
raspi_policy/
test_policy/

# ===============================
# Large outputs / plots
# ===============================
*.png
*.jpg
*.jpeg
*.mp4

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS
# ===============================
.DS_Store